PUBLIC_URL=https://openpilot.example.com
FRONTEND_URL=https://connect.example.com
JWT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SUPERUSERS=
STORAGE_ENDPOINT=https://s3.example.com
STORAGE_BUCKET=ponpilot
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_REGION=us-east-1
